/* styles for Rating widget */
.ux-rating-container { clear: both; }
.ux-rating-reset, .ux-rating-star { float: left;width: 17px;height: 15px;text-indent: -999em;cursor: pointer;overflow: hidden; }
.ux-rating-reset a, .ux-rating-star a { width: 16px;height: 16px;display: block; }
.ux-rating-reset a { background: url(../images/rating-sprites.gif) no-repeat -16px 0; }
.ux-rating-star a { background: url(../images/rating-sprites.gif) no-repeat 0 0; }
.ux-rating-star-hover a { background-position: 0 -32px; }
.ux-rating-star-on a { background-position: 0 -16px; }
.ux-rating-reset-hover a { background-position: -16px -16px; }
.ux-rating-disabled a { cursor: default; }
.ext-ie .clearfix { zoom: 1; }
.clearfix:after { content: ".";display: block;height: 0;clear: both;visibility: hidden; }

/* styles for examples */
.example-wrap { margin-top: 20px; }