/* styles for CSS Reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote{margin:0;padding:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}ol,ul {list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;}

/* styles for examples */
body {
	font-family: verdana,geneva,lucida,'lucida grande',arial,helvetica,sans-serif;
	color: #555;
	line-height: 18px;
}

.x-clear {
	clear: both;
	height: 0;
	overflow: hidden;
}

#showcase-list-section {
	margin: auto;
	text-align: left;
	width: 960px;
}

/* styles for ShowcaseList */
.ux-showcase-list-container {
	margin: 5px 0 0 0;
	zoom: 1;
}

.ux-showcase-list-container p {
	margin-top: 8px 0;
}

.ux-showcase-list-container h3 {
	margin: 7px 0;
	font: normal 18px verdana,arial,sans-serif;
	color: #385F95;
}
.ux-showcase-list-container h3.ux-showcase-list-title {
	margin-top: 10px;
}

.ux-showcase-list-container h4 {
	margin: 5px 0;
	font: bold 14px "Trebuchet MS",tahoma,arial,sans-serif;
	color: #555;
}

#showcase-list-main {
	width: 902px;
	height: 373px;
	background: #fff url(../images/bg-main-example.png) no-repeat;
	position: relative;
	left: 0;
	top: 0;
	margin: 15px 0 10px 2px;
	font-family: tahoma,arial,sans-serif;
}

#showcase-list-menu {
	position: absolute;
	left: 30px;
	top: 42px;
	width: 186px;
	font-family: arial,tahoma,sans-serif;
	z-index: 1;
}

#showcase-list-menu-inner {
	zoom: 1;
}

#showcase-list-menu a {
	text-align: right;
	color: #fff;
	font-size: 12px;
	line-height: 16px;
	padding: 5px 16px 3px 0;
	display: block;
	-moz-outline: none;
	outline: 0 none;
	zoom: 1;
	font-weight: bold;
	text-decoration: none;
	cursor: pointer;
}

#showcase-list-menu a:hover {
	background: transparent url(../images/bg-over-item.png) no-repeat;
	text-decoration: none;
	_background: none;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/bg-over-item.png', sizingMethod='scale');
}

#showcase-list-menu a.ux-showcase-list-active {
	background: transparent url(../images/bg-active-item.png) no-repeat;
	text-decoration: none;
	color: #1860A8;
	font-weight: bold;
	_background: none;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/bg-active-item.png', sizingMethod='scale');
}

#showcase-list-box {
	position: absolute;
	left: 215px;
	top: 12px;
	line-height: 14px;
	font-size: 11px;
	background-color: #fff;
}

#showcase-list-box-inner {
	width: 675px;
	height: 350px;
	line-height: 14px;
	font-size: 11px;
	background-color: #fff;
	border: 1px solid #3e6598;
	overflow: auto;
}

#showcase-list-content {
	padding: 2px;
}

#showcase-list-content h2 {
	border-bottom: 2px solid #99bbe8;
	cursor: pointer;
	padding-top: 6px;
	-moz-user-select: none;
	-khtml-user-select: none;
}

#showcase-list-content h2 div {
	background: transparent url(../images/icon-group-expand-sprite.gif) no-repeat 3px -47px;
	padding: 4px 4px 4px 17px;
	color: #3764a0;
	font: bold 11px tahoma,arial,helvetica,sans-serif;
}

#showcase-list-content .ux-showcase-list-collapsed h2 div {
	background-position: 3px 3px;
}

#showcase-list-content .ux-showcase-list-collapsed dl {
	display: none;
}

#showcase-list-content dd {
	float: left;
	margin: 5px 5px 5px 10px;
	width: 300px;
	height: 100px;
	cursor: pointer;
	zoom: 1;
}

#showcase-list-content dd img,
#showcase-list-content dd img.ux-showcase-list-normal-view {
	float: left;
	margin: 5px 0 0 5px;
	width: 120px;
	height: 90px;
}

#showcase-list-content dd div {
	float: left;
	margin-left: 10px;
	width: 160px;
}

#showcase-list-content dd h4 {
	font: bold 11px tahoma,arial,san-serif;
	color: #555;
}

#showcase-list-content dd p {
	color: #777;
}

#showcase-list-content dd.over {
	background: #ebf7d2 url(../images/bg-sample-over.gif) no-repeat;
}

/* ShowcaseList condensed view */
.ux-showcase-list-condensed-view #showcase-list-content dd {
	width: 135px;
	height: 114px;
	text-align: center;
}

.ux-showcase-list-condensed-view #showcase-list-content dd img {
	float: none;
	margin: 5px 2px 0;
	width: 120px;
	height: 90px;
}

.ux-showcase-list-condensed-view #showcase-list-content dd h4 {
	margin: 0;
	color: #666;
	font-weight: normal;
	text-align: center;
}

.ux-showcase-list-condensed-view #showcase-list-content dd.over {
	background: transparent url(../images/bg-condensed-sample-over.gif) no-repeat;
}

/* ShowcaseList mini view */
.ux-showcase-list-mini-view #showcase-list-content dd {
	width: 75px;
	height: 69px;
	text-align: center;
}

.ux-showcase-list-mini-view #showcase-list-content dd img {
	float: none;
	margin: 5px 2px 0;
	width: 60px;
	height: 45px;
}

.ux-showcase-list-condensed-view #showcase-list-content dd div,
.ux-showcase-list-mini-view #showcase-list-content dd div {
	float: none;
	width: auto;
	margin-left: 0;
}

.ux-showcase-list-mini-view #showcase-list-content dd h4 {
	margin: 0;
	color: #666;
	font-size: 9px;
	font-weight: normal;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.ux-showcase-list-condensed-view #showcase-list-content dd p,
.ux-showcase-list-mini-view #showcase-list-content dd p {
	display: none;
}

.ux-showcase-list-mini-view #showcase-list-content dd.over {
	background: #ebf7d2;
}

#showcase-list-content dd.over h4 {
	color: #1860A8;
}

#showcase-list-controlbar {
	position: absolute;
	left: 775px;
	top: -10px;
	width: 97px;
	height: 24px;
	background: transparent url(../images/icon-btn-details-sprite.gif) no-repeat 0 0;
	cursor: pointer;
	overflow: hidden;
	zoom: 1;
}

#showcase-list-controlbar img {
	width: 32px;
	height: 27px;
}

.ux-showcase-list-condensed-view #showcase-list-controlbar {
	background-position: 0 -25px;
}

.ux-showcase-list-mini-view #showcase-list-controlbar {
	background-position: 0 -50px;
}