/* styles for CSS Reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote{margin:0;padding:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}ol,ul {list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;}

/* styles for FisheyeMenu */
.ux-fisheye-menu-container {
	position: absolute;
	height: 60px;
}

a.ux-fisheye-menu-item {
	display: block;
	font: bold 12px Arial, Helvetica, sans-serif;
	width: 40px;
	color: #000;
	position: absolute;
	text-align: center;
	text-decoration: none;
}

a.ux-fisheye-menu-item span {
	margin-bottom: 5px;
	/*color: #039;*/
	color: #fff;
	display: none;
	text-align: center;
}

a.ux-fisheye-menu-item img {
	border: none;
	margin-right: 10px;
	width: 100%;
}

.menu-wrap-top {
	position: relative;
}
.menu-wrap-bottom {
	position: absolute;
	width: 100%;
	bottom: 0;
}

.menu-align-top {
	top: 0;
	bottom: auto;
}
.menu-align-bottom {
	bottom: 0;
	top: auto;
}